#masthead {
	clear: both;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    // top: 32px;
    margin-top:0;
}
    
.banner {
	display:flex;
	align-items:center;
	justify-content:center;	
	background:url("../../images/home-hero.jpg");
	background-size:cover;
	min-height:100vh;
	width:100%;

	.banner-logo {
		background:url("../../images/logos/inhabitent-logo-full.svg");
		background-size: cover;
		background-position: center;
		height:20rem;
		width:20rem;
	}
}

.tentIcon {
	height: 2.5rem;
	width: 2.5rem;
	margin: 1.5rem 0 0 4rem;	
	// margin-left: 4rem;
}

// navbar styling
.menu-menu-container {
	text-align: right;
	margin-right: 4rem;

	ul li a {
	color: white;
	margin: 1rem 1rem 0px 0px;
	text-transform: uppercase;
	}
}

/* tablet responsive */
@media only screen and (min-width: 601px){

}

/* desktop responsive */
@media only screen and (min-width: 1240px){

}


