.shopActions{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.homeSectionTitle{
    text-transform: uppercase;
    text-align: center;
	margin: 5rem 0 5rem 0;
}

.widthProducts{
	width:80%;
	margin: 0 auto;
	
	.productType{
		text-align:center;
		border-top:4px solid Gainsboro;
		border-right:1px solid Gainsboro;
		border-bottom:1px solid Gainsboro;
		border-left:1px solid Gainsboro;
		height:30vh;

		p{
			width:13rem;
		}

		.shopImage{
			width:4rem;
			height:4rem;
			margin:1rem;
		}
	
		.shopButton{
			color:red;
			padding: 15px 20px;
			width: 6.5rem;
			height: 3rem;
			background-color: #008080;
		    color: white;
		    text-decoration:none;
			height:5rem;
			width:10rem;
			text-align:center;
		}	
	}
}

p {
	color: grey;
}

